html,
body {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
}

body {
  background: #fff;
  color: #222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  cursor: auto;
}

a:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

.right {
  float: right!important;
}

img {
  display: inline-block;
  vertical-align: middle;
}

.row {
  width: 100%;
}

.row {
  margin: 0 auto;
  max-width: 62.5rem;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row .row {
  width: auto;
  margin: 0 -.9375rem;
  max-width: none;
}

.row .row:before,
.row .row:after {
  content: " ";
  display: table;
}

.row .row:after {
  clear: both;
}

.columns {
  padding-left: .9375rem;
  padding-right: .9375rem;
  width: 100%;
  float: left;
}

[class*="column"]+[class*="column"]:last-child {
  float: right;
}

@media only screen {
  .columns {
    position: relative;
    padding-left: .9375rem;
    padding-right: .9375rem;
    float: left;
  }

  .small-4 {
    width: 33.3333333333%;
  }

  .small-8 {
    width: 66.6666666667%;
  }

  .small-12 {
    width: 100%;
  }
}

@media only screen and (min-width:40.063em) {
  .columns {
    position: relative;
    padding-left: .9375rem;
    padding-right: .9375rem;
    float: left;
  }

  .medium-5 {
    width: 41.6666666667%;
  }

  .medium-6 {
    width: 50%;
  }

  .medium-7 {
    width: 58.3333333333%;
  }
}

@media only screen and (min-width:64.063em) {
  .columns {
    position: relative;
    padding-left: .9375rem;
    padding-right: .9375rem;
    float: left;
  }

  .large-5 {
    width: 41.6666666667%;
  }

  .large-6 {
    width: 50%;
  }

  .large-7 {
    width: 58.3333333333%;
  }
}

button {
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  border-radius: 0;
  display: inline-block;
  padding: 1rem 2rem 1.0625rem;
  font-size: 1rem;
  background-color: #008CBA;
  border-color: #007095;
  color: #fff;
  -webkit-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

button:hover,
button:focus {
  background-color: #007095;
  color: #fff;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media only screen and (min-width:40.063em) {
  button {
    display: inline-block;
  }
}

select::-ms-expand {
  display: none;
}

.top-bar {
  overflow: hidden;
  height: 5rem;
  line-height: 5rem;
  position: relative;
  margin-bottom: 0;
}

.top-bar ul {
  margin-bottom: 0;
  list-style: none;
}

.top-bar .title-area {
  position: relative;
  margin: 0;
}

.top-bar .name {
  height: 5rem;
  margin: 0;
  font-size: 16px;
}

.top-bar .name h1 {
  line-height: 5rem;
  font-size: 1.5625rem;
  margin: 0;
}

.top-bar .name h1 a {
  font-weight: 400;
  color: #fff;
  width: 75%;
  display: block;
  padding: 0 1.6666666667rem;
}

.top-bar .toggle-topbar {
  position: absolute;
  right: 0;
  top: 0;
}

.top-bar .toggle-topbar a {
  color: #fff;
  text-transform: uppercase;
  font-size: .8125rem;
  font-weight: 700;
  position: relative;
  display: block;
  padding: 0 1.6666666667rem;
  height: 5rem;
  line-height: 5rem;
}

.top-bar .toggle-topbar.menu-icon {
  top: 50%;
  margin-top: -16px;
}

.top-bar .toggle-topbar.menu-icon a {
  height: 34px;
  line-height: 33px;
  padding: 0 3.2291666667rem 0 1.6666666667rem;
  color: #fff;
  position: relative;
}

.top-bar .toggle-topbar.menu-icon a span::after {
  content: "";
  position: absolute;
  display: block;
  height: 0;
  top: 50%;
  margin-top: -8px;
  right: 1.6666666667rem;
  box-shadow: 0 0 0 1px #fff,0 7px 0 1px #fff,0 14px 0 1px #fff;
  width: 16px;
}

.top-bar .toggle-topbar.menu-icon a span:hover:after {
  box-shadow: 0 0 0 1px "",0 7px 0 1px "",0 14px 0 1px "";
}

.top-bar-section {
  left: 0;
  position: relative;
  width: auto;
  -webkit-transition: left 300ms ease-out;
  transition: left 300ms ease-out;
}

.top-bar-section ul {
  padding: 0;
  width: 100%;
  height: auto;
  display: block;
  font-size: 16px;
  margin: 0;
}

.top-bar-section .divider {
  border-top: solid 1px #093c92;
  clear: both;
  height: 1px;
  width: 100%;
}

.top-bar-section ul li {
  background: #333;
}

.top-bar-section ul li>a {
  display: block;
  width: 100%;
  color: #fff;
  padding: 12px 0 12px 1.6666666667rem;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-transform: none;
}

.top-bar-section ul li:hover:not(.has-form)>a {
  background-color: #555;
  background: #333;
  color: #fff;
}

@media only screen and (min-width:40.063em) {
  .top-bar {
    background: #4285F4;
    overflow: visible;
  }

  .top-bar:before,
  .top-bar:after {
    content: " ";
    display: table;
  }

  .top-bar:after {
    clear: both;
  }

  .top-bar .toggle-topbar {
    display: none;
  }

  .top-bar .title-area {
    float: left;
  }

  .top-bar .name h1 a {
    width: auto;
  }

  .top-bar-section {
    -webkit-transition: none 0 0;
    transition: none 0 0;
    left: 0!important;
  }

  .top-bar-section ul {
    width: auto;
    height: auto!important;
    display: inline;
  }

  .top-bar-section ul li {
    float: left;
  }

  .top-bar-section li:not(.has-form) a:not(.button) {
    padding: 0 1.6666666667rem;
    line-height: 5rem;
    background: #4285F4;
  }

  .top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: #555;
    background: #333;
  }

  .top-bar-section>ul>.divider {
    border-bottom: none;
    border-top: none;
    border-right: solid 1px #5b95f5;
    clear: none;
    height: 5rem;
    width: 0;
  }
}

div {
  margin: 0;
}

div {
  padding: 0;
}

ul,
ol {
  padding: 0;
}

li {
  margin: 0;
}

li,
h1,
h2,
h3,
h4 {
  padding: 0;
}

pre {
  margin: 0;
}

pre,
p,
th,
td {
  padding: 0;
}

th,
td {
  margin: 0;
}

a {
  color: #008CBA;
  text-decoration: none;
  line-height: inherit;
}

a:hover,
a:focus {
  color: #0078a0;
}

a img {
  border: none;
}

p {
  font-family: inherit;
  font-weight: 400;
  font-size: 1rem;
  margin: 0 0 1.25rem;
  text-rendering: optimizeLegibility;
}

p {
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #222;
  text-rendering: optimizeLegibility;
  margin: .2rem 0 .5rem;
  line-height: 1.4;
}

h1 {
  font-size: 2.125rem;
}

h2 {
  font-size: 1.6875rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

i {
  font-style: italic;
  line-height: inherit;
}

strong,
b {
  font-weight: 700;
}

strong,
b {
  line-height: inherit;
}

code {
  font-family: Consolas,"Liberation Mono",Courier,monospace;
  font-weight: 400;
  color: #333;
  background-color: #f8f8f8;
  border-width: 1px;
  border-style: solid;
  border-color: #dfdfdf;
  padding: .125rem .3125rem .0625rem;
}

ul,
ol {
  font-size: 1rem;
  line-height: 1.6;
  list-style-position: outside;
  font-family: inherit;
}

ul {
  margin: 0 0 1.25rem 1.1rem;
}

ul li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
}

ol {
  margin: 0 0 1.25rem 1.4rem;
}

blockquote {
  margin: 0 0 1.25rem;
  padding: .5625rem 1.25rem 0 1.1875rem;
  border-left: 1px solid #ddd;
}

blockquote,
blockquote p {
  line-height: 1.6;
  color: #6f6f6f;
}

@media only screen and (min-width:40.063em) {
  h1,
  h2,
  h3,
  h4 {
    line-height: 1.4;
  }

  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2.3125rem;
  }

  h3 {
    font-size: 1.6875rem;
  }

  h4 {
    font-size: 1.4375rem;
  }
}

@media print {
  * {
    background: transparent!important;
    color: #000!important;
    box-shadow: none!important;
    text-shadow: none!important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href)")";
  }

  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100%!important;
  }

@page {
    margin: .5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.background,
.top-bar {
  background: #4285F4;
}

.top-bar-section,
.top-bar-section li {
  background: #4285F4!important;
}

.top-bar-section li a:not(.button) {
  background: #4285F4!important;
}

div {
  border: 1px dashed #000;
}

.post .post-container {
  font-size: .875rem;
  background: #ededed;
  height: 200px;
  overflow: hidden;
  margin: 20px 10px 0 0;
  padding: 10px;
}

.post .post-container p {
  font-size: 12px;
}

.post .post-container a {
  color: #000;
}

.post .post-container .post-icon {
  max-width: 100px;
}

.post .post-container .img-container {
  text-align: center;
}

.post .post-container .img-container img {
  width: 95%;
  margin: 2px;
}

.state-border {
  fill: none;
  stroke: #393838;
  stroke-linejoin: round;
  stroke-linecap: round;
}

div #container-map {
  padding: 0;
}
